.App {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background-color: #b7b7cf;
    color: #fff;
    animation: fadein 1.5s;
    text-align: center;
    height: 100%;
  }
  